.Buttons_13 {
	font-family: Segoe UI;
	font-size: 12px;
}

.default {
	font-family: Segoe UI;
	font-size: 12px;
}

.Font18 {
	font-family: Arial;
	font-size: 18px;
}

.ToolbarButtons {
	font-family: Arial;
	font-size: 12px;
}

